.register {
    height: 100vh;
    width: 100%;
    background-color: #eae3da;
}

.container-full {
    background-color: #eae3da;
    height: 200vh;
}

.container-text {
    background-color: #eae3da;
    height: 50%;
    width: 100%;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

